* {
    margin: 0%;
    padding: 0%;

}

.cabecalho {
    background-color: #49005e;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items:normal


}

.cabecalho-lista {
display: center;
width: 70%
}

.fundo{
background-color: #49005e;



}

.cabecalho-imagem{
    width: 30%;
}

.cabecalho-item{
    width: 30%;

}